#header {
    height: 3.125rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 0.625rem;
}

.logoDesktop {
    display: none;
}

.searchText {
    height: 1.875rem;
    width: 15.625rem;

    background-color: var(--color-background);
    border-color: var(--color-primary);
    border-radius: 0.5rem;

    padding: 0.9rem 1rem;
}

.btn-search {
    display: none;
}

.login {
    display: none;
}

.burger {
    display: flex;
    flex-direction: column;
    margin-right: 0.625rem;
}

.line {
    height: 0.3125rem;
    width: 1.5625rem;

    margin: 0.2rem;

    background-color: var(--color-primary);
    border-radius: 0.6rem;
}

@media(min-width: 730px) {
    .logoDesktop {
        display: block;
    }

    .logoMobile {
        display: none;
    }

    .searchText {
        width: 30rem;
    }
}

@media(min-width: 975px) {
    .search {
        display: flex;
        align-items: center;
    }

    .searchText {
        width: 42.5rem;
        margin-right: 0.3rem;
    }
    
    .btn-search {
        display: block;
        background-color: var(--color-primary);
        border: 0;
        border-radius: 0.4rem;
        padding: 0.1rem 0.4rem;
    }

    .burger {
        display: none;
    }

    .login {
        display: flex;
    }

    li {
        list-style-type: none;
        margin-right: 0.8rem;

        font-size: 1.5rem;
    }
}